<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Define o conjunto de caracteres como UTF-8 para suportar caracteres especiais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a escala inicial e a largura da visualização para dispositivos móveis -->
    <title>Adicionar Cadastro</title> <!-- Define o título da página -->
</head>
<body>
    <h1>Adicionar Contato</h1> <!-- Título principal da página -->
    <form action="/adicionar_contato" method="POST"> <!-- Formulário para adicionar um novo contato. O 'action' indica para onde os dados do formulário serão enviados e o 'method' indica o método HTTP usado (neste caso, POST) -->
        <label for="nome">Nome do Animal:</label><br> <!-- Rótulo e campo de entrada para o nome do contato -->
        <input type="text" id="nome" name="nome"><br> <!-- Campo de entrada para o nome do contato -->
        <label for="especie">Espécie do Animal</label><br>
        <input type="text" id="especie" name="especie"><br>
        <label for="raca">Raça do Animal</label><br>
        <input type="text" id="raca" name="raca"><br>
        <label for="peso">Peso do Animal</label><br>
        <input type="number" id="peso" name="peso" step="0.1"><br>
        <label for="nometutor">Nome do Tutor:</label><br> <!-- Rótulo e campo de entrada para o email do contato -->
        <input type="text" id="nometutor" name="nometutor"><br> <!-- Campo de entrada para o email do contato -->
        <label for="telefone">Telefone:</label><br> <!-- Rótulo e campo de entrada para o telefone do contato -->
        <input type="number" id="telefone" name="telefone"><br> <!-- Campo de entrada para o telefone do contato -->
        <br>
        <input type="submit" value="Adicionar"> <!-- Botão de envio do formulário -->
    </form>
</body>
</html>